* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #F1f5f8;
}

nav {
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    color:rgb(9, 176, 231);
    box-shadow: 0px 5px 5px rgb(184, 183, 183);
}

.links a {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.links a:hover {
    color:rgb(9, 176, 231);
}

nav, .links a {
    font-family: sans-serif;
    letter-spacing: 2px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container div {
    background-color: rgb(39, 39, 39);
    font-family: sans-serif;
    font-size: 50px;
    width: auto;
    margin: 20px;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
}

.clickme {
    margin: 25px;
    padding: 5px;
    height: 35px;
    width: auto;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
}

.clickme:hover {
    background-color: rgb(39, 39, 39);
    color: #fff;
}

.current-color {
    color: rgb(9, 176, 231);
}

